    /*
    Flaticon icon font: Flaticon
    Creation date: 21/05/2016 10:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-avalanche:before { content: "\f100"; }
.flaticon-fire:before { content: "\f101"; }
.flaticon-first-aid-kit:before { content: "\f102"; }
.flaticon-flood-symbol:before { content: "\f103"; }
.flaticon-han-in-water:before { content: "\f104"; }
.flaticon-knife-with-blood:before { content: "\f105"; }
.flaticon-not-flash-allowed:before { content: "\f106"; }
.flaticon-poison-bottle:before { content: "\f107"; }
.flaticon-side-crash:before { content: "\f108"; }
.flaticon-thief:before { content: "\f109"; }
    
    $font-Flaticon-avalanche: "\f100";
    $font-Flaticon-fire: "\f101";
    $font-Flaticon-first-aid-kit: "\f102";
    $font-Flaticon-flood-symbol: "\f103";
    $font-Flaticon-han-in-water: "\f104";
    $font-Flaticon-knife-with-blood: "\f105";
    $font-Flaticon-not-flash-allowed: "\f106";
    $font-Flaticon-poison-bottle: "\f107";
    $font-Flaticon-side-crash: "\f108";
    $font-Flaticon-thief: "\f109";