	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/05/2016 10:32
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal; 
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-avalanche:before { content: "\f100"; }
.flaticon-fire:before { content: "\f101"; }
.flaticon-first-aid-kit:before { content: "\f102"; }
.flaticon-flood-symbol:before { content: "\f103"; }
.flaticon-han-in-water:before { content: "\f104"; }
.flaticon-knife-with-blood:before { content: "\f105"; }
.flaticon-not-flash-allowed:before { content: "\f106"; }
.flaticon-poison-bottle:before { content: "\f107"; }
.flaticon-side-crash:before { content: "\f108"; }
.flaticon-thief:before { content: "\f109"; }